{% extends "base.html" %}

{% block content %}
        <p></p>
        <center><a href="base_training"><img src="static/images/base_training.jpg"></a></center>
        <center><p class="text">БАЗОВЫЙ ЦИКЛ</p></center>>
        <center><p class="text">направленность: общее физическое развитие в домашних условиях</p></center>
        <center><p class="text">оборудывание: не требуется</p></center>
        <center><a href="fat_burning_training"><img src="static/images/fat_burning_training.jpg"></a></center>
        <center><p class="text">ЖИРОСЖИГАЮЩИЙ ЦИКЛ</p></center>>
        <center><p class="text">направленность: жиросжигание</p></center>
        <center><p class="text">оборудывание: стандартный набор тренажёров</p></center>
        <center><a href="power_training"><img src="static/images/power_training.jpg"></a></center>
        <center><p class="text">СИЛОВОЙ ЦИКЛ</p></center>>
        <center><p class="text">направленность: увеличение силовых показателей</p></center>
        <center><p class="text">оборудывание: стандартный набор тренажёров</p></center>
{% endblock %}