<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>training wisely</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        {% if current_user.is_authenticated %}
            <ul>
                <li><a href="logout">выйти из аккаунта</a></li>
                <li><a href="my_training">мои тренировки</a></li>
                <li><a href="catalog">каталог</a></li>
                <li><a href="anthropometry">антропометрия</a></li>
                <li><a href="DELETE /api/users/{{ current_user.id }}">удалить профиль</a></li>
            </ul>
            <p></p>
            <center><p class="text">Привет, {{ current_user.name }}</p></center>
        {% else %}
            <ul>
                <li><a href="my_training">мои тренировки</a></li>
                <li><a href="catalog">каталог</a></li>
                <li><a href="anthropometry">антропометрия</a></li>
                <li><a href="register">зарегистрироваться</a></li>
                <li><a href="login">войти</a></li>
            </ul>
        {% endif %}
        <p></p>
        <center><a href="base_training"><img src="static/images/base_training.jpg"></a></center>
        <center><p class="text">БАЗОВЫЙ ЦИКЛ</p></center>>
        <center><p class="text">направленность: общее физическое развитие в домашних условиях</p></center>
        <center><p class="text">оборудывание: не требуется</p></center>
        <center><a href="fat_burning_training"><img src="static/images/fat_burning_training.jpg"></a></center>
        <center><p class="text">ЖИРОСЖИГАЮЩИЙ ЦИКЛ</p></center>>
        <center><p class="text">направленность: жиросжигание</p></center>
        <center><p class="text">оборудывание: стандартный набор тренажёров</p></center>
        <center><a href="power_training"><img src="static/images/power_training.jpg"></a></center>
        <center><p class="text">СИЛОВОЙ ЦИКЛ</p></center>>
        <center><p class="text">направленность: увеличение силовых показателей</p></center>
        <center><p class="text">оборудывание: стандартный набор тренажёров</p></center>
    </body>
</html>