<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>training wisely</title>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
        <ul>
            <li><a href="my_training">мои тренировки</a></li>
            <li><a href="catalog">каталог</a></li>
            <li><a href="anthropometry">антропометрия</a></li>
        </ul> 
        <center><video class="player" src="static/video/пейзаж.MOV" controls></video></center>
        <center><button>начать тренироваться</button></center>
    </body>
</html>