{% extends "base.html" %}

{% block content %}
<h1>Рекорды</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.rec_name.label }}<br>
        {{ form.rec_name(class="form-control") }}<br>
        {% for error in form.rec_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.parameter.label }}<br>
        {{ form.parameter(class="form-control") }}<br>
        {% for error in form.parameter.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}